.h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9.2rem;
  line-height: 10.8rem;
  /* identical to box height, or 114% */

  letter-spacing: -0.02em;
}

.h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 6.4rem;
  line-height: 7.2rem;
  /* identical to box height, or 120% */
}

.h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 4.8rem;
  line-height: 5.6rem;
  /* identical to box height, or 112% */

  letter-spacing: -0.02em;
}

.h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 3.6rem;
  line-height: 4.8rem;
  /* identical to box height, or 114% */

  letter-spacing: -0.02em;
}

.h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 2.4rem;
  line-height: 3.2rem;
  /* identical to box height, or 117% */
}

.h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 20;
  font-size: 2rem;
  line-height: 2.4rem;
  /* identical to box height, or 110% */
}

.sub1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.8rem;
  line-height: 2.4rem;
  /* identical to box height, or 133% */

  letter-spacing: 0.02em;
}

.sub2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.6rem;
  line-height: 1.8rem;
  /* identical to box height, or 112% */

  letter-spacing: 0.001em;
}

.body1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.6rem;
  line-height: 1.8rem;
  /* identical to box height */

  letter-spacing: 0.02em;
}

.body2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.4rem;
  line-height: 1.6rem;
  /* identical to box height, or 114% */

  letter-spacing: -0.01em;
}

.button {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.0rem;
  /* identical to box height, or 114% */

  letter-spacing: 0.0125em;
}

.caption {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.2rem;
  line-height: 1.4rem;
  /* identical to box height, or 117% */

  letter-spacing: 0.004em;
}

.overline {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.1rem;
  line-height: 1.2rem;
  /* identical to box height, or 109% */

  letter-spacing: 0.015em;
}

.special-body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 1;
  font-size: 1.8rem;
  line-height: 3.2rem;
  /* identical to box height, or 178% */

  letter-spacing: 0.0015em;
}
